# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

.localdevserver/
.sf/
.sfdx/
coverage/
.vscode/
jsconfig.json

# Third-party static resources under any package (prettier off)
force-app/*/main/default/staticresources/*

# Exclude project config (edited by CI workflow)
sfdx-project.json
